body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.magic {
    background: #604386;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.hearts {
    white-space: nowrap;
    text-shadow: 4px 0 black, 0 4px black, -4px 0 black, 0 -4px black;
    opacity: 0.8;
}
.one {
    color: #ad2e2e;
}
.two {
    color: #4bb44b;
}
.three {
    color: #1d1d5d;   
}
.four {
    color: #d8d840;
}